* {
  margin: 0;
  padding: 0;
}
body {
  background: white;
}
.block-body {
  width: 100%;
  margin: 0px auto;
  height: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  width: 100%;
  height: 80px;
  background: linear-gradient(to right, rgb(27, 27, 120), rgb(44, 90, 183));
}
main {
  flex-grow: 1;
}
#block-content {
  /* width: 1035px;    */
  height: auto;
  min-height: 500px;
}
.logo {
  /* width: 200px;   */
  float: left;
  height: 80px;
}
.logo a {
  display: block;
  margin-left: 60px;
  margin-right: 20px;
  margin-top: 10px;
  font-family: "Times New Roman", sans-serif;
  font-size: 28px;
  color: #fcfafc;
  text-decoration: none;
  cursor: pointer;
}
.logo p {
  margin-left: 75px;
  margin-top: 2px;
  margin-bottom: 5px;
  font-family: "Times New Roman", sans-serif;
  font-size: 20px;
  color: white;
}
.top-menu {
  /* width: 1100px;   */
  height: 80px;
  float: left;
}
.top-menu ul li {
  list-style: none;
  float: left;
  text-align: center;
}
.top-menu ul li a {
  display: block;
  width: 280px;
  text-decoration: none;
  font-family: "Times New Roman", sans-serif;
  font-size: 17px;
  color: white;
  height: 55px;
  padding-top: 25px;
  cursor: pointer;
  padding-right: 0;
}
.top-menu ul li a:hover {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  background: #00ade4;
}
.block-top-auth {
  width: 100px;
  float: left;
  margin-left: 40px;
  height: 80px;
}
.block-top-auth p {
  margin-top: 12px;
  text-align: center;
  margin-bottom: 8px;
}
.block-top-auth a {
  text-decoration: none;
  color: white;
  font-family: "Times New Roman", sans-serif;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}
.block-top-auth a:hover {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  color: #00ade4;
}
.top-menu ul li ul {
  position: absolute;
  /* width: 100%; */
  background: linear-gradient(to right, rgb(27, 27, 120), rgb(44, 90, 183));
  display: none;
  z-index: 1000;
}
.top-menu ul li ul li {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.top-menu ul li ul li {
  display: inline-block;
}

.top-menu ul li:hover > ul {
  display: flex;
  flex-direction: column;
}

.footer {
  background: linear-gradient(to right, rgb(27, 27, 120), rgb(44, 90, 183));
  color: white;
  padding-top: 30px;
  padding-bottom: 40px;
  width: 100%;
}
.container {
  max-width: 1110px;
  margin-left: 60px;
  margin-right: auto;
}
.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-copyright-name {
  font-weight: 700px;
  font-size: 28px;
}
.footer-copyright p {
  margin-left: 13px;
  margin-top: 0px;
  margin-bottom: 2px;
  font-family: "Times New Roman", sans-serif;
  font-size: 20px;
  color: white;
}
.footer-pomosh {
  line-height: 200%;
}
.footer-pomosh p a {
  margin-left: 75px;
  margin-top: 2px;
  margin-bottom: 5px;
  font-family: "Times New Roman";
  font-size: 17px;
  color: white;
  text-decoration: none;
}
.footer-contacts p {
  margin-left: 75px;
  margin-top: 2px;
  margin-bottom: 5px;
  font-family: "Times New Roman";
  font-size: 17px;
  color: white;
}
.footer-contacts {
  line-height: 200%;
}
.catal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block{
    width: 800px;
    height: 345px;
    background-color: rgb(242, 242, 246);
    border-radius: 10px;
    box-shadow: 0 0 5px blue;
    margin-bottom: 60px;
    text-decoration: none;
    flex-wrap: wrap;
}
.obloshka {
    width: 230px;
    height: 300px;
    border-radius: 5%;
}
.content h4 {
    margin-top:20px;
    margin-left:70px;
    font-family: "Times New Roman";
    font-size: 22px;
    
}
.content {
    padding: 20px 0 0 20px;
    display:flex;
    align-items:start;
}
.opisaniye {
    display: flex;
    flex-direction: column;
}
.opisaniye a{
    margin-bottom: 0;
    text-decoration: none;
    color:black;
}
.sostav {
    top: 0;
    font-size: 17px;
    margin-top:20px;
    margin-left:70px;
}
.sostav p{
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
}
.cos{
    margin-top:10px;
    margin-right: 50px;
    text-align: right;
    font-size:20px;
    text-decoration: none;  
}
.cos h4{
    margin-top: 0;
}
.katalog {
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 140px;
}
.news{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.block-news{
    width: 300px;
    height: 515px;
    background-color: rgb(242, 242, 246);
    border-radius: 10px;
    box-shadow: 0 0 5px blue;
    margin-bottom: 60px;
    margin-left: 140px;
    text-decoration: none;
    position: sticky;
    top: 60px;
    flex-wrap: wrap;
}

.obloshka-news {
    width: 230px;
    height: 300px;
    border-radius: 5%;
    flex-wrap: wrap;
}
.content-news {
    padding: 20px 0 0 20px;
    display:flex;
    align-items:start;
}
.opisaniye-news {
    display: flex;
    flex-direction: column;
}
.opisaniye-news a{
    text-decoration: none;
    color:black;
}
.sostav-news {
    top: 0;
    font-size: 17px;
    margin-top: 20px;
}
.sostav-news a{
    position: absolute;
    right: 20px;
    margin-top: 140px;
    margin-bottom: 5px;
    text-decoration: none;
    
}
.cos-news{
    margin-top:10px;
    margin-right: 50px;
    text-align: right;
    font-size:20px;
    text-decoration: none;  
}
.cos-news h4{
    margin-top: 0;
}
.blocs h4 p{
    margin-top:20px;
    margin-left:20px;
    font-family: "Times New Roman";
    font-size: 22px;
    margin-bottom: 50px;
}
.open {
    display: flex !important;
    align-items: flex-start;
  }
  
  .lock {
    overflow: hidden;
  }
  
  .burger {
    display: none;
    position: relative;
    z-index: 100;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
  }
  
  .burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: white;
  }
  
  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease 0s;
  }
  
  .burger::before {
    top: 0;
  }
  
  .burger::after {
    bottom: 0;
  }
  
  /* Добавляем класс active для анимации иконки бургера */
  .burger.active span {
    transform: scale(0);
  }
  
  .burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  
  .burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  
  @keyframes burgerAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
   @media (max-width: 855px) {
    .block{
    width: 360px;
    height: 800px;
    background-color: rgb(242, 242, 246);
    border-radius: 10px;
    box-shadow: 0 0 5px blue;
    margin-bottom: 60px;
    text-decoration: none;
    flex-wrap: wrap;
}
    .news {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .content {
    padding: 20px 0 0 20px;
    display:flex;
    flex-direction: column;
    margin-left: 0;
}
    .block-news{
        width: 360px;
        height: 800px;
    }
    .obloshka {
        margin-left: 45px;
        margin-top: 20px;
    }
    .opisaniye{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .katalog{
        text-align: center;
        margin-left: 0;
    }
}
  @media (max-width: 1284px) {
    .blocks {
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    .news {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .block-news{
        width: 345px;
        height: 500px;
        margin-left: 0;
    }
}
  /* При разрешении экрана 767px и ниже, выводим на экран иконку бургера */
  @media (max-width: 930px) {
    header {
      display: flex;
      justify-content: space-around;
    }
  
    .burger {
      display: flex;
      align-self: center;
    }
  
    .top-menu ul {
      display: none;
      flex-direction: column;
      justify-content: flex-start;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100;
      overflow-y: auto;
      padding: 50px 0px;
      background: linear-gradient(to right, rgb(27, 27, 120), rgb(44, 90, 183));
      animation: burgerAnimation 0.4s;
    }
  
    .top-menu ul li {
      flex-direction: column;
      row-gap: 30px;
      flex-grow: 0;
      width: 100%;
    }
  
    .top-menu ul li a {
      display: block;
      text-align: start;
      font-size: 22px;
      margin-left: 15px;
    }
  
    .top-menu ul li ul li {
      width: 100%;
    }
  
    .top-menu ul li ul li a {
      font-size: 1rem;
      align-self: flex-start;
    }
  }
  .btn-up {
    position: fixed;
    background-color: rgb(156, 156, 248);
    right: 40px;
    bottom: 40px;
    border-radius: 30px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    z-index: 2;
  }
  
  .btn-up::before {
    content: "";
    text-align: center;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 20px;
    top: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
  }
  
  .btn-up_hide {
    display: none;
  }
  
  @media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
    background: rgb(156, 156, 248);
  }