* {
  margin: 0;
  padding: 0;
}
body {
  background: white;
}
.block-body {
  width: 100%;
  margin: 0px auto;
  height: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  width: 100%;
  height: 80px;
  background: linear-gradient(to right, rgb(27, 27, 120), rgb(44, 90, 183));
}
main {
  flex-grow: 1;
}
#block-content {
  /* width: 1035px;    */
  height: auto;
  min-height: 500px;
}
.logo {
  /* width: 200px;   */
  float: left;
  height: 80px;
}
.logo a {
  display: block;
  margin-left: 60px;
  margin-right: 20px;
  margin-top: 10px;
  font-family: "Times New Roman", sans-serif;
  font-size: 28px;
  color: #fcfafc;
  text-decoration: none;
  cursor: pointer;
}
.logo p {
  margin-left: 75px;
  margin-top: 2px;
  margin-bottom: 5px;
  font-family: "Times New Roman", sans-serif;
  font-size: 20px;
  color: white;
}
.top-menu {
  /* width: 1100px;   */
  height: 80px;
  float: left;
}
.top-menu ul li {
  list-style: none;
  float: left;
  text-align: center;
}
.top-menu ul li a {
  display: block;
  width: 280px;
  text-decoration: none;
  font-family: "Times New Roman", sans-serif;
  font-size: 17px;
  color: white;
  height: 55px;
  padding-top: 25px;
  cursor: pointer;
  padding-right: 0;
}
.top-menu ul li a:hover {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  background: #00ade4;
}
.block-top-auth {
  width: 100px;
  float: left;
  margin-left: 40px;
  height: 80px;
}
.block-top-auth p {
  margin-top: 12px;
  text-align: center;
  margin-bottom: 8px;
}
.block-top-auth a {
  text-decoration: none;
  color: white;
  font-family: "Times New Roman", sans-serif;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}
.block-top-auth a:hover {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  color: #00ade4;
}
.top-menu ul li ul {
  position: absolute;
  /* width: 100%; */
  background: linear-gradient(to right, rgb(27, 27, 120), rgb(44, 90, 183));
  display: none;
  z-index: 1000;
}
.top-menu ul li ul li {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.top-menu ul li ul li {
  display: inline-block;
}

.top-menu ul li:hover > ul {
  display: flex;
  flex-direction: column;
}

.footer {
  background: linear-gradient(to right, rgb(27, 27, 120), rgb(44, 90, 183));
  color: white;
  padding-top: 30px;
  padding-bottom: 40px;
  width: 100%;
}
.container {
  max-width: 1110px;
  margin-left: 60px;
  margin-right: auto;
}
.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-copyright-name {
  font-weight: 700px;
  font-size: 28px;
}
.footer-copyright p {
  margin-left: 13px;
  margin-top: 0px;
  margin-bottom: 2px;
  font-family: "Times New Roman", sans-serif;
  font-size: 20px;
  color: white;
}
.footer-pomosh {
  line-height: 200%;
}
.footer-pomosh p a {
  margin-left: 75px;
  margin-top: 2px;
  margin-bottom: 5px;
  font-family: "Times New Roman";
  font-size: 17px;
  color: white;
  text-decoration: none;
}
.footer-contacts p {
  margin-left: 75px;
  margin-top: 2px;
  margin-bottom: 5px;
  font-family: "Times New Roman";
  font-size: 17px;
  color: white;
}
.footer-contacts {
  line-height: 200%;
}

.tablica{
    border: 1px solid black;
    
}
table{
    margin-top: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:100px;
}
.tablica th{
    border: 1px solid black;
}
.tablica td{
    border: 1px solid black;
}
main{
    text-align: center;
}
main h3{
    margin-top: 40px;
    margin-bottom: 10px;
}
main a{
    color:black;
}
.open {
    display: flex !important;
    align-items: flex-start;
  }
  
  .lock {
    overflow: hidden;
  }
  
  .burger {
    display: none;
    position: relative;
    z-index: 100;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
  }
  
  .burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: white;
  }
  
  .burger::before,
  .burger::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease 0s;
  }
  
  .burger::before {
    top: 0;
  }
  
  .burger::after {
    bottom: 0;
  }
  
  /* Добавляем класс active для анимации иконки бургера */
  .burger.active span {
    transform: scale(0);
  }
  
  .burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  
  .burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  
  @keyframes burgerAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* При разрешении экрана 767px и ниже, выводим на экран иконку бургера */
  @media (max-width: 930px) {
    header {
      display: flex;
      justify-content: space-around;
    }
  
    .burger {
      display: flex;
      align-self: center;
    }
  
    .top-menu ul {
      display: none;
      flex-direction: column;
      justify-content: flex-start;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100;
      overflow-y: auto;
      padding: 50px 0px;
      background: linear-gradient(to right, rgb(27, 27, 120), rgb(44, 90, 183));
      animation: burgerAnimation 0.4s;
    }
  
    .top-menu ul li {
      flex-direction: column;
      row-gap: 30px;
      flex-grow: 0;
      width: 100%;
    }
  
    .top-menu ul li a {
      display: block;
      text-align: start;
      font-size: 22px;
      margin-left: 15px;
    }
  
    .top-menu ul li ul li {
      width: 100%;
    }
  
    .top-menu ul li ul li a {
      font-size: 1rem;
      align-self: flex-start;
    }
  }